.header {
  padding-block: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #fff;
}
.header_left {
}
.logo {
}
.header_middle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.header_right {
}
