.category {
  margin-block: 90px;
}
.category_h2 {
  text-align: center;
}
.category_p {
  margin-top: 15px;
  text-align: center;
  color: #5e6e89;
}

.category_cards {
  margin-top: 60px;
}

.view_all_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
